.box{
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid $default;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);

  &.box-flat{
    border-radius: 0;
  }

  .box-header, .box-body, .box-footer{
    padding: 15px;
  }

  .box-footer{
    border-top: 1px solid $lightgray;
  }
  .box-header.with-border{
    border-bottom: 1px solid $lightgray;
  }

}