.form-box{
  margin: 40px auto 0;

  &.form-box-sm{
    max-width: 400px;
  }
  &.form-box-md{
    max-width: 600px;
  }
  &.form-box-lg{
    max-width: 900px;
  }

  .form-headline{
    p{
      font-size: 1.5em;
      text-align: center;
      line-height: 2em;
    }
  }

  .form-title, .form-subtitle{
    margin: 1em 0;
    text-align: center;
  }

  .form-subtitle{}
}


// Form in popup
.popup{
  .form-box{
    margin-top: 0
  }
}