.sidebar{
  overflow-x: hidden;


  //Init slimscroll here
  .side-wrapper{}

  //Put footer to the bottom
  .side-container{
    position: relative;
    min-height: 100%;
  }

  .side-content{
    padding: 0 15px 80px;
    .cat-list{
      margin: 0 -15px;
      li{
        a{
          display: block;
          padding: 0 15px;
          line-height: 2.2em;
        }
      }
    }
  }

  .side-footer{
    left: 0;
    width: 100%;
    bottom: 10px;
    padding: 0 15px;
    position: absolute;
//    .soc-icons{
//      text-align: center;
//      @include inlineList();
//      li{
//        a{
//          display: block;
//          line-height: 2.2em;
//          &:hover{
//            background: $gray;
//          }
//        }
//        padding: 0 5px;
//      }
//    }
  }
}
