html, body {
  height: 100%;
  overflow: hidden;
}

#wrapper{
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  &.sidebar-hide{
    .sidebar {
      width: 0;
    }
    .page-layout{
      margin-left: 0;
    }
  }
}


.page-layout{
  height: 100%;
  padding: 0 15px;
}
.sidebar{
  display: none;
}

//Sidebar layout
$sidebarWidth: 220px;
.with-sidebar{
  .page-layout{
    transition: .4s;
    margin-left: $sidebarWidth;
  }
  .sidebar{
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999;
    display: block;
    position: fixed;
    transition: .4s;
    width: $sidebarWidth;
  }
}





