$dark: #212121;
$gray: #c4c4c4;
$lightgray: #f3f3f3;
$darkgray: #6f6f6f;



//Main color scheme
$default: $gray;
$primary: blue;
$success: green;
$warning: yellow;
$error: red;

$active: #00a4b9;








$orange: #fd703a;
$blue: #3597d4;
$darkblue: #2980b9;
$OpenSansCondensed: 'Open Sans Condensed', sans-serif;