<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>ContentLibrary</title>

    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body class="no-js blue-theme fixed-sidebar">

    <div id="wrapper" class="gray-bg">

        <!-- Navigation left bar -->
        <nav class="navbar-static-side navbar-primary">
            <div class="container-fluid">
                Search bar
                <form action="">
                    <input type="text"/>
                </form>
            </div>
        </nav>
        <!-- ./Navigation left bar -->


        <!-- Page wrapper -->
        <div class="page-wrapper">
            <!-- Top navbar row -->
            <div class="row">
                <div class="container-fluid">
                    <nav class="navbar">
                        <div class="navbar-header navbar-left">
                            <p class="navbar-side-toggle">Toggle sidebar</p>
                        </div>

                        <ul class="navbar-links navbar-right">
                            <li><a href="/signin.html">Login</a></li>
                            <li><a href="/login.html">Login</a></li>
                            <li><a href="/logout.html">Login</a></li>
                            <li><a href="#">Messages</a></li>
                            <li><a href="#">Other</a></li>
                            <li><a href="/account.html">Account</a></li>
                        </ul>
                    </nav>
                </div>

            </div>
            <!-- ./Top navbar row -->

            <!-- Dynamic content -->
            <div class="page-content">

            </div>
            <!-- ./Dynamic content -->

            <div class="row">
                <div class="footer">
                    <div class="container-fluid">
                        <div class="pull-right">
                            New theme sceleton
                        </div>
                        <div>
                            <p>Author: Nikita Slobodian</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <!-- ./Page wrapper -->
    </div>


    <div class="preloader">
        <div class="loader"></div>
    </div>


    <!--Content topline/header-->
    <script type="text/template" id="indexTopline">
        <div class="row">
            <div class="content-topline">
                Content topline
            </div>
        </div>
    </script>
    <!-- ./Content topline/header -->



    <!-- Video-cart template -->
    <script type="text/template" id="videoCart">
        <div class="col-sm-4">
            <div class="cart-content video-cart">
                <div class="cart-head"></div>

                <div class="cart-body hover-toolbox">
                    <figure>
                        <!-- Video -->
                        <div class="video-frame">
                            <iframe width="640" height="360" src="<%= mediaLink %>" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <!-- ./Video -->
                    </figure>
                    <div class="toolbox with-padding"></div>
                </div>

                <div class="cart-footer"></div>
            </div>
        </div>
    </script>
    <!-- ./Video-cart template -->

    <!-- Image-cart template -->
    <script type="text/template" id="imageCart">
        <div class="col-sm-4">
            <div class="cart-content image-cart">
                <div class="cart-head"></div>

                <div class="cart-body hover-toolbox">
                    <figure>
                        <!-- Image -->
                        <a href="#" class="cart-link">
                            <img src="<%= mediaLink %>" alt="<%= title %>"/>
                        </a>
                        <!-- ./Image -->
                    </figure>
                    <div class="toolbox with-padding"></div>
                </div>

                <div class="cart-footer"></div>
            </div>
        </div>
    </script>
    <!-- ./Image-cart template -->

    <!-- Test-type cart template -->
    <script type="text/template" id="textCart">
        <div class="col-sm-4">
            <div class="cart-content text-cart">
                <div class="cart-head">
                    <h3 class="post-title with-padding"><%= title %></h3>
                    <div class="toolbox"></div>
                </div>
                <div class="cart-body">
                    <div class="post-content with-padding"><%= content %></div>
                </div>
                <div class="cart-footer"></div>
            </div>
        </div>
    </script>
    <!-- ./Text-type cart template -->


    <!--Cart toolbox template-->
    <script type="text/template" id="cartToolbox">
        <div class="pull-right">
            <a href="#" class="rate-button<% if(isFavorite) { %> is-favorite<% } %>"><i class="icon-rate-star"></i><%= favorites %></a>
            <a href="#"><i class="icon-goto"></i></a>
        </div>
        <a href="#" class="label label-hover"><%= author %></a>
    </script>
    <!-- ./Cart toolbox template-->








    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.min.js"></script>-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>

    <script src="/assets/js/database/index_data.js"></script>

    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/include.js"></script>


</body>
</html>