@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/Fontello/fontello.eot?10478858");
  src: url("../fonts/Fontello/fontello.eot?10478858#iefix") format("embedded-opentype"), url("../fonts/Fontello/fontello.woff2?10478858") format("woff2"), url("../fonts/Fontello/fontello.woff?10478858") format("woff"), url("../fonts/Fontello/fontello.ttf?10478858") format("truetype"), url("../fonts/Fontello/fontello.svg?10478858#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?10478858#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-star:before, .rate-button:hover .icon-rate-star:before, .rate-button.is-favorite .icon-rate-star:before {
  content: '\e800'; }

/* '' */
.icon-star-empty:before, .rate-button .icon-rate-star:before {
  content: '\e801'; }

/* '' */
.icon-star-half:before {
  content: '\e802'; }

/* '' */
.icon-cancel:before {
  content: '\e803'; }

/* '' */
.icon-download:before {
  content: '\e804'; }

/* '' */
.icon-eye:before {
  content: '\e805'; }

/* '' */
.icon-menu:before {
  content: '\e806'; }

/* '' */
.icon-ok:before {
  content: '\e807'; }

/* '' */
.icon-plus:before {
  content: '\e808'; }

/* '' */
.icon-search:before {
  content: '\e809'; }

/* '' */
.icon-down-dir:before {
  content: '\e80a'; }

/* '' */
.icon-left-dir:before {
  content: '\e80b'; }

/* '' */
.icon-shuffle:before {
  content: '\e80c'; }

/* '' */
.icon-load-more:before {
  content: '\e80d'; }

/* '' */
.icon-right-dir:before {
  content: '\e80e'; }

/* '' */
.icon-up-dir:before {
  content: '\e80f'; }

/* '' */
.icon-tags:before {
  content: '\e810'; }

/* '' */
.icon-goto:before {
  content: '\e811'; }

/* '' */
.icon-star-half-alt:before {
  content: '\f123'; }

/* '' */
/* Vendors/Libs */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, svg {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

a:hover {
  text-decoration: none; }

html, body {
  height: 100%;
  overflow: hidden; }

#wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }
  #wrapper.sidebar-collapsed .sidebar {
    width: 0; }
  #wrapper.sidebar-collapsed .page-layout {
    margin-left: 0; }

.page-layout {
  height: 100%;
  padding: 0 15px; }
  .page-layout .container, .page-layout .container-fluid {
    padding-left: 0;
    padding-right: 0; }

.sidebar {
  display: none; }

.with-sidebar .page-layout {
  -webkit-transition: .4s;
  transition: .4s;
  margin-left: 220px; }

.with-sidebar .sidebar {
  top: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  display: block;
  position: fixed;
  -webkit-transition: .4s;
  transition: .4s;
  width: 220px; }

.contact-page .map-wrapper {
  margin: 0 -15px;
  position: relative; }

@media (min-width: 768px) {
  .contact-page .contacts-box {
    top: 50px;
    left: 10px;
    width: 300px;
    z-index: 999;
    position: absolute; } }

.google-map {
  width: 100%;
  height: 500px; }

.sidebar {
  overflow-x: hidden; }
  .sidebar .side-container {
    position: relative;
    min-height: 100%; }
  .sidebar .side-content {
    padding: 0 15px 80px; }
    .sidebar .side-content .cat-list {
      margin: 0 -15px; }
      .sidebar .side-content .cat-list li a {
        display: block;
        padding: 0 15px;
        line-height: 2.2em; }
        .sidebar .side-content .cat-list li a:hover, .sidebar .side-content .cat-list li a .current-item {
          background: #c4c4c4; }
  .sidebar .side-footer {
    left: 0;
    width: 100%;
    bottom: 25px;
    position: absolute; }
    .sidebar .side-footer .soc-icons {
      text-align: center;
      font-size: 0; }
      .sidebar .side-footer .soc-icons > li {
        display: inline-block;
        font-size: 16px; }
      .sidebar .side-footer .soc-icons li {
        padding: 0 5px; }
        .sidebar .side-footer .soc-icons li a {
          display: block;
          line-height: 2.2em; }
          .sidebar .side-footer .soc-icons li a:hover {
            background: #c4c4c4; }

.topmenu {
  position: relative; }
  .topmenu .navbar {
    min-height: auto; }
  .topmenu .navbar-links {
    margin: 0 -15px; }
    .topmenu .navbar-links::before, .topmenu .navbar-links::after {
      display: block;
      content: ''; }
    .topmenu .navbar-links::after {
      clear: both; }
    .topmenu .navbar-links li {
      float: left;
      padding: 0 15px; }

.cart-content {
  overflow: hidden;
  margin-bottom: 20px; }
  .cart-content .cart-head, .cart-content .cart-body, .cart-content .cart-footer {
    background: white; }
  .cart-content .toolbox a {
    color: inherit;
    -webkit-transition: .3s;
    transition: .3s;
    margin-left: 10px;
    display: inline-block; }
    .cart-content .toolbox a:first-child {
      margin-left: 0; }
    .cart-content .toolbox a:hover {
      color: #fd703a; }
  .cart-content .hover-toolbox {
    position: relative; }
    .cart-content .hover-toolbox .toolbox {
      color: white;
      z-index: 100;
      bottom: 0;
      opacity: 0;
      width: 100%;
      -webkit-transition: .3s;
      transition: .3s;
      position: absolute;
      -webkit-transform: translateY(25%);
              transform: translateY(25%);
      background: rgba(0, 0, 0, 0.5);
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+70,0.65+100 */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); }
    .cart-content .hover-toolbox:hover .toolbox {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0); }
  .cart-content .with-padding {
    padding: 15px; }
  .cart-content img, .cart-content iframe {
    width: 100%;
    display: block;
    margin: 0 auto; }

.image-cart .cart-image {
  display: block;
  background-size: cover;
  background-position: center; }

.video-cart .video-frame {
  height: 0;
  display: block;
  position: relative; }
  .video-cart .video-frame iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute; }

.text-cart {
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #c4c4c4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.box {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #c4c4c4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
  .box.box-flat {
    border-radius: 0; }
  .box .box-header, .box .box-body, .box .box-footer {
    padding: 15px; }
  .box .box-footer {
    border-top: 1px solid #f3f3f4; }
  .box .box-header.with-border {
    border-bottom: 1px solid #f3f3f4; }

.form-box {
  max-width: 400px;
  margin: 40px auto 0; }
  .form-box .form-headline p {
    font-size: 1.5em;
    text-align: center;
    line-height: 2em; }
  .form-box .form-title, .form-box .form-subtitle {
    margin: 1em 0;
    text-align: center; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: white; }
  .preloader .loader {
    position: relative;
    width: 100px;
    height: 100px;
    border: 2px solid transparent;
    border-top-color: #3498db;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    display: block;
    margin: -50px 0 0 -50px;
    -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite; }
    .preloader .loader::before, .preloader .loader::after {
      content: '';
      position: absolute;
      border: 2px solid transparent;
      border-radius: 50%; }
    .preloader .loader::before {
      width: 88px;
      height: 88px;
      margin: 4px;
      border-top-color: #f9c922;
      -webkit-animation: spin 3s linear infinite;
              animation: spin 3s linear infinite; }
    .preloader .loader::after {
      width: 76px;
      height: 76px;
      margin: 10px;
      border-top-color: #e74c3c;
      -webkit-animation: spin 1.5s linear infinite;
              animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.popup {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  display: table; }
  .popup.popup-bg-default {
    background: rgba(0, 0, 0, 0.9); }
  .popup .popup-container {
    display: table-cell;
    vertical-align: middle; }
  @media (min-width: 620px) {
    .popup.popup-md .popup-box {
      width: 600px;
      max-width: 600px; } }
  @media (min-width: 420px) {
    .popup.popup-sm .popup-box {
      width: 400px;
      max-width: 400px; } }
  .popup .popup-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: white;
    padding: 50px;
    color: black; }
  .popup .close-trigger {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -30px;
    right: 0;
    background: white;
    -webkit-transition: .3s;
    transition: .3s;
    will-change: background;
    cursor: pointer; }
    .popup .close-trigger:before, .popup .close-trigger:after {
      display: block;
      position: absolute;
      content: '';
      width: 50%;
      height: 2px;
      background: #D8D8D9;
      top: 49%;
      left: 24%;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .popup .close-trigger:after {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .popup .close-trigger:hover {
      background: #a0a0a0; }
  .popup.open--popup {
    -webkit-animation: fadeIn 0.7s forwards;
            animation: fadeIn 0.7s forwards; }
    .popup.open--popup .popup-box {
      -webkit-animation: moveInDown 0.7s forwards;
              animation: moveInDown 0.7s forwards; }
  .popup.close--popup {
    -webkit-animation: fadeOut 0.7s forwards;
            animation: fadeOut 0.7s forwards; }
    .popup.close--popup .popup-box {
      -webkit-animation: moveOut 0.7s forwards;
              animation: moveOut 0.7s forwards; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes moveIn {
  from {
    -webkit-transform: translateY(75%);
            transform: translateY(75%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes moveIn {
  from {
    -webkit-transform: translateY(75%);
            transform: translateY(75%); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes moveOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%); } }

@keyframes moveOut {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  to {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%); } }

.blue-theme {
  background: #f3f3f4; }
  .blue-theme .sidebar {
    background: #2a2a2a; }
